body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}
  
button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  
button:hover {
    background-color: #0056b3;
}
 
#error {
    display: none;
    margin-top: 20px;
    background-color: #fff0f0;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

#emessage {
    margin-right: auto;
    text-align: center;
}

#contents {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.me {
    background-color: azure;
}
.me:hover {
    background-color: rgb(213, 255, 255);
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #f5f5f5;
    font-weight: bold;
}
th:hover {
    background-color: #eeeeee;
}

td > div {
    display: flex;
    align-items: center;
}
tbody tr:hover {
    background-color: #eeeeee;
}
  
progress {
    width: 100%;
    flex: 1;
    margin-left: 10px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    overflow: auto;
}
  
#modalContents {
    background-color: #fff; /* モーダルコンテンツの背景色 */
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
#modalHead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
  
#modalBody {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 20px;
}
#modalHead div{
    margin-right: auto;
}

.comp {
    color: white;
    text-shadow:
        1px 1px 2px white,
        0 0 1em blue,
        0 0 0.2em blue;
    /* content: "\1F947" */
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783,#e60000) 0 / 200%;
    animation: 0.5s complete linear infinite;
}

@keyframes complete{
    100% { background-position: 200%; }
}

.third td:nth-child(2):before{
    content: "\1F949"
}
.second td:nth-child(2):before{
    content: "\1F948"
}
.first td:nth-child(2):before{
    content: "\1F947"
}
.worst td:nth-child(2):before{
    content: "\1F4A9"
}

#header {
    display: flex;
    align-items: center;
}
#update {
    margin-right: auto;
}

#comment {
    background-color: white;
    max-width: calc(100%-135px);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.empty {
    background-color: #f5f5f5 !important;
    background-image: url(/img/openai-logomark.png);
    background-size: 100%;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    /* border: 4px solid #007bff; */
    /* border-top: 4px solid #f5f5f5; */
    /* background-color: #f5f5f5 !important; */
    box-shadow: none !important;
    /* border-radius: 50% !important; */
    animation: spin 1s ease infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}