body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}
  
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  
button:hover {
    background-color: #0056b3;
}
 
#error {
    display: none;
    margin-top: 20px;
    background-color: #fff0f0;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

#emessage {
    margin-right: auto;
    text-align: center;
}

#contents {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.me {
    background-color: azure;
}
.me:hover {
    background-color: rgb(213, 255, 255);
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #f5f5f5;
    font-weight: bold;
}
th:hover {
    background-color: #eeeeee;
}

td > div {
    display: flex;
    align-items: center;
}
tbody tr:hover {
    background-color: #eeeeee;
}
  
progress {
    width: 100%;
    flex: 1;
    margin-left: 10px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    overflow: auto;
  }
  
  #modalcontents {
    background-color: #fff; /* モーダルコンテンツの背景色 */
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #modalhead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #modalbody {
    font-size: 16px;
    line-height: 1.5;
  }